@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

body{
    background-color: rgb(240, 215, 32);
    text-align: center;
    padding: 10px;
    font-family: 'Frijole', cursive;
    color: #1f9c90;
}

.indexPokeName {
    font-size: 30px;
    padding: 10px;
    color: #26a69a;
}
.indexPokeName2 {
    font-size: 30px;
    padding: 10px;
    color:  #1f9c90;
    border: 2px solid rgb(20, 141, 235); 
}

.moves {
    font-size: 20px;
    color: rgb(153, 45, 45);
    border: 2px solid black;
    font-family: 'Trade Winds', cursive;
}

.name {
    color: #1f9c90;
    font-family: 'Frijole', cursive;
}

.pokeDetail {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin: 0 auto;
}

.slider{
    width: 40%;
    margin: 0 auto;
}

.slides li {
    background-color:rgb(240, 215, 32);
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
}

.pokeContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 10px;
}
.well {
    border: 2px solid black;
}